---
title: Dernières lectures
uuid: f7892c5d-a6a4-4e59-a7df-6838c73120c7
---

<%
books = last_readings
if books.empty?
%>
  <h1>Lectures récentes</h1>
  <p>Aucune information sur les dernières lectures.</p>
<% else %>
  <h1>Lectures récentes</h1>
  <div id="recent-books" class="book-grid">
  <% books.each do |book| %>
    <%= book.reps[:card].compiled_content(snapshot: :card) %>
  <% end %>
  </div>
<% end %>